
<div class="add-gadget-div">
<input type="button" value="Add Gadget" class="add-more" style="margin-right: 10px;margin-top:7px" (click)="addGadgetDialog()">
</div>
<!--
<input type="button" value="Edit Layout" class="add-more" style="margin-right: 10px;" (click)="editLayoutDialog()">
-->
<div class="dashboard-page">
<div class="loading" *ngIf="loader">Loading&#8230;</div>
        
<div class="full-width">
    <div class="dashboard-headline">
        <h3 style="padding-left:0px">Map</h3>
        <button type="button">
            <img src="../assets/info-icon.png" (mouseover)="setFlagForHelptext(true)" (mouseleave)="setFlagForHelptext(false)">
            <div class="dashboard-hints" *ngIf="openHelpText" style="margin-left: -13%;width: 16%;">
                Displaying status-wise shipment destinations for all orders not in 'CLOSED' status</div>
        </button>
    </div>
    <div class="dashboard-map">
        <app-userlocator-map class="map-legend"></app-userlocator-map>
    </div>
</div>
<!--<div class="full-width">
    <div class="dashboard-headline">
        <h3>Total Orders & Shipments</h3>
        <button type="button">
            <img src="../assets/info-icon.png"  on-mouseover="setFlagForHelptext2(true)" on-mouseleave="setFlagForHelptext2(false)">
            <div class="dashboard-hints"  *ngIf="openHelpText2">
                Displaying day-wise count for orders/shipments created in last 15 days</div>
        </button>
    </div>
    <div class="dashboard-map">
        <app-d3barchart></app-d3barchart>
    </div>
</div>
-->
<div class="{{layoutClass}} parent" style="margin-top:-3%">

    
    <div *ngIf = "userGadgets?.position.leftSection" class="container1 drag-gadget" [dragula]='"first-bag"'  [dragulaModel]='userGadgets.position.leftSection'>
        <div *ngFor="let child of userGadgets.position.leftSection; let i = index">
            <div class="dash">
            <h3 class="page_header dash_title">{{child.name}}
                <div class="options">
                 <div>  
                <button class="min-btn" type="button" (click)="hideDiv('left',child.gadgetId)">-</button>
                <button class="max-btn" type="button" (click)="showDiv('left',child.gadgetId)">+</button>
                <button type="button" (click)="deleteGadget('left',child)" id="gadget-cancel">x</button>
                <button type="button" class="btn-information">
                    <i class="fa fa-info" aria-hidden="true" (mouseover)='child.hint=true' (mouseleave)='child.hint=false'></i>
                </button>
                <div class="dashboard-hints" *ngIf = 'child.hint'>
                        {{child.helpText}}
                    </div>
                 </div>
                    <!--<img src="../assets/info-icon.png" (mouseover)='child.hint=true' (mouseleave)='child.hint=false'>-->
                    
                </div>
            </h3>
            <div id="expand" #isDivShow *ngIf="child.visible">
                <div class="box-body">
                     <div ctrl-factory [model]="child"></div>
                </div>
            </div>
            </div>           
        </div>
    </div>
    
    <div *ngIf = "userGadgets?.position.rightSection" class="container1 drag-gadget" [dragula]='"first-bag"'  [dragulaModel]='userGadgets.position.rightSection'>
        <div *ngFor="let child of userGadgets.position.rightSection; let i = index">
            <div class="dash">
            <h3 class="page_header dash_title">{{child.name}}
                <div class="options">
                 <div>  
                <button class="min-btn" type="button" (click)="hideDiv('right',child.gadgetId)">-</button>
                <button class="max-btn" type="button" (click)="showDiv('right',child.gadgetId)">+</button>
                <button type="button" (click)="deleteGadget('right',child)" id="gadget-cancel">x</button>
                <button type="button" class="btn-information">
                    <i class="fa fa-info" aria-hidden="true" (mouseover)='child.hint=true' (mouseleave)='child.hint=false'></i>
                </button>
                <div class="dashboard-hints" *ngIf = 'child.hint'>
                        {{child.helpText}}
                    </div>
                 </div>
                    
                </div>
            </h3>
            <div id="expand" #isDivShow *ngIf="child.visible">
                <div class="box-body">
                     <div ctrl-factory [model]="child"></div>
                </div>
            </div>
            </div>           
        </div>
    </div>
    
</div>
<!-- Add Gadgets Dialogue Box -->
<p-dialog header="Add a gadget" class="gadget-layout" [(visible)]="addWidgetDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [width]="400" [height]="400">
    <div class="loading" *ngIf="loaderadd"></div>    
    <div style="background-color:#ffffff; padding:20px;">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <ul style="padding-left:0px">
                <li *ngFor="let gadgetData of availableGadget;">
                    <ul class="gadget-dashboard">
                        <li style="border: 1px solid #ccc; padding: 5px;"><img style="vertical-align: middle;" src="{{ gadgetData.image }}" style="height: 100px; width: 100px;"></li>
                        <li>
                            <h3>{{ gadgetData.name }}</h3>
                            <div [innerHTML]="gadgetData.description"></div>
                        </li>
                        <li><input type="button" value="Add Gadget" class="add-more" style="margin-right: 10px;" (click)="addGadget(gadgetData)">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</p-dialog>

<!-- Edit Layout Dialogue Box -->
<p-dialog header="Edit Layout" class=" gadget " [(visible)]="editDashboardLayout" [responsive]="true" showEffect="fade" [modal]="true"
    [width]="400" [height]="400">
    <div style="background-color:#ffffff; padding:20px;">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <h2 style="font-size: 16px;">Choose dashboard layout</h2>
            <ul style="padding-left:0px" class="layout-dashboard">
                <li><img src="/assets/width-100.png" (click)="changeLayout('width-100')"></li>
                <li><img src="/assets/width-50.png" (click)="changeLayout('width-50-50')"></li>
                <li><img src="/assets/width-30-70.png" (click)="changeLayout('width-30-70')"></li>
                <li><img src="/assets/width-70-30.png" (click)="changeLayout('width-70-30')"></li>
                <li><img src="/assets/width-33.png" (click)="changeLayout('width-33')"></li>
            </ul>
        </div>
    </div>
</p-dialog>
