<div _ngcontent-c2="" *ngIf="search">
      <app-search-product *ngIf="product"></app-search-product>
      <app-search-order *ngIf="order"></app-search-order>
      <app-search-shipment *ngIf="shipment"></app-search-shipment>
      <app-search-locationsearch *ngIf="location"></app-search-locationsearch>
      <app-search-simplesearch *ngIf="simplesearch"></app-search-simplesearch>
      <app-search-casespersurgery *ngIf="casespersurgery"></app-search-casespersurgery>
      <app-search-casespercity *ngIf="casespercity"></app-search-casespercity>
      <app-search-casesperhospital *ngIf="casesperhospital"></app-search-casesperhospital>
      <app-search-casesnotclosed *ngIf="casesnotclosed"></app-search-casesnotclosed>
      <app-search-casespersurgeon *ngIf="casespersurgeon"></app-search-casespersurgeon>
      <app-search-unshippedproducts *ngIf="unshippedproducts"></app-search-unshippedproducts>
      <app-search-itemsnotdelivered *ngIf="itemsnotdelivered"></app-search-itemsnotdelivered>
      <app-search-diagnpointsensortracking *ngIf="diagn_pointsensortracking"></app-search-diagnpointsensortracking>
      <app-search-diagnpointlocationtracking *ngIf="diagn_pointlocationtracking"></app-search-diagnpointlocationtracking>
      <app-search-shipmentsdue *ngIf="shipmentsdue"></app-search-shipmentsdue>
      <app-search-shipmentdeliverytimecarrier *ngIf="shipmentdeliverytimecarrier"></app-search-shipmentdeliverytimecarrier>
      <app-search-locationzones *ngIf="locationzones"></app-search-locationzones>
      <app-search-shipmentharddelivered *ngIf="shipmentharddelivered"></app-search-shipmentharddelivered>
      <app-search-shipmentsinjeopardy *ngIf="shipmentsinjeopardy"></app-search-shipmentsinjeopardy>
      <app-search-productsordered *ngIf="productsordered"></app-search-productsordered>
      <app-search-stationaryshipment *ngIf="stationaryshipment"></app-search-stationaryshipment>
      <app-search-partialshipments *ngIf="partialshipments"></app-search-partialshipments>
      <app-search-productlocator *ngIf="productlocator"></app-search-productlocator>
      <app-search-productlocatorhistory *ngIf="productlocatorhistory"></app-search-productlocatorhistory>
      <app-search-sensorstatus *ngIf="sensorstatus"></app-search-sensorstatus>
      <app-search-appstatus *ngIf="appstatus"></app-search-appstatus>
      <app-search-devicelocator *ngIf="devicelocator"></app-search-devicelocator>
      <app-search-devicelocatorhistory *ngIf="devicelocatorhistory"></app-search-devicelocatorhistory>
      <app-search-app-gateway-search *ngIf="thingsSearch"></app-search-app-gateway-search>
      <app-search-app-search *ngIf="appSearch"></app-search-app-search>
      <app-search-productsreadytodispatch *ngIf="productsreadytodispatch"></app-search-productsreadytodispatch>
      <app-search-skusensor *ngIf="skusensor"></app-search-skusensor>
      <app-search-skusensorhistory *ngIf="skusensorhistory"></app-search-skusensorhistory>
      <app-search-shipmentdeliverytime *ngIf="shipmentdeliverytime"></app-search-shipmentdeliverytime>
      <app-search-shipmentscountbylocation *ngIf="shipmentscountbylocation"></app-search-shipmentscountbylocation>
      <app-search-mostusedequipmentpersurgeon *ngIf="mostusedequipmentpersurgeon"></app-search-mostusedequipmentpersurgeon>
      <app-search-notifications *ngIf="notifications"></app-search-notifications>
      <app-search-mobilelogs *ngIf="mobilelogs"></app-search-mobilelogs>
      <app-search-userlist *ngIf="userlist"></app-search-userlist>
      <app-search-grouplist *ngIf="grouplist"></app-search-grouplist>
      <app-search-tempTag *ngIf="tempTaglist"></app-search-tempTag>
      <app-search-userlocator *ngIf="userlocator"></app-search-userlocator>
      <app-search-userlocatorhistory *ngIf="userlocatorhistory"></app-search-userlocatorhistory>
      <app-search-loginhistory *ngIf="loginhistory"></app-search-loginhistory>
      <app-search-userentrance *ngIf="userentrance"></app-search-userentrance>
      <app-search-userentrancehistory *ngIf="userentrancehistory"></app-search-userentrancehistory>
      <app-search-task *ngIf="task"></app-search-task>
      <app-search-sensorlocator *ngIf="sensorlocator"></app-search-sensorlocator>
      <app-search-sensorlocatorhistory *ngIf="sensorlocatorhistory"></app-search-sensorlocatorhistory>
      
</div>
