<div class="headlineArea">
	<h3 class="page_header withoutband">Groups</h3>
	<button (click)="createGroup()" class="save">Add</button>
</div>

<!-- <p-growl [value]="msgs"></p-growl> -->
<div class="loading" *ngIf="loader">Loading&#8230;</div>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">

</div>

<!--<p-dataTable [value]="groupList" [lazy]="true" (onRowClick)="onEdit($event)">-->

<p-dataTable sortField="GroupName" sortOrder="1" [emptyMessage]="emptyMessage" reorderableColumns="true" [value]="groupList"
 [rows]="rows" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,50,100]" [editable]="true" [responsive]="true"
 [totalRecords]="totalRecords" styleClass="my-table" #dt>
	<!--<p-column field="GroupName" header="Group Name" (click)="onEdit(data)"></p-column>-->

	<p-column field="GroupName" header="Group Name" resizableColumns="true" [sortable]="true">
		<ng-template let-col let-data="rowData" pTemplate="body">
			<span (click)="onEdit(data)" style="cursor:pointer; text-decoration:underline">
				{{data.GroupName}}
			</span>
		</ng-template>
	</p-column>

	<p-column field="Description" header="Description" [sortable]="true">
		<ng-template let-col let-data="rowData" pTemplate="body">
			<span>{{data.Description || '-'}}</span>
		</ng-template>
	</p-column>
	<!--<p-column field="Precedence" header="Precedence">
		<ng-template let-col let-data="rowData" pTemplate="body">
			<span>{{data.Precedence === '' ? '-' : data.Precedence}}</span>
		</ng-template>
	</p-column>-->
	<p-column field="LastModifiedDate" header="Last Modified" [sortable]="true">
		<ng-template let-col let-data="rowData" pTemplate="body">
			<span>{{data.LastModifiedDate | date:'MM/dd/yyyy HH:mm' }}</span>
		</ng-template>
	</p-column>
	<p-column field="CreationDate" header="Created At" [sortable]="true">
		<ng-template let-col let-data="rowData" pTemplate="body">
			<span>{{data.CreationDate | date:'MM/dd/yyyy HH:mm' }}</span>
		</ng-template>

	</p-column>

</p-dataTable>

<span class="number-of-pages">{{pagingmessage}}</span>
