<div class="headlineArea">
    <h3 class="page_header flex withoutband" style="margin-bottom:2px">
        <div>
            <span class="text">
            {{ title }}
        </span>
            <span *ngIf="edit" class="status-detail show" [ngClass]="statusClass">{{orderStatusLabel}}</span>
            <span *ngIf="edit && order.isReported" (click)="showNoteDialog(data)" style="cursor:pointer; text-decoration:underline">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </span>
        </div>
    </h3>
    <p-splitButton *ngIf="menuItems?.length > 0" label="ACTIONS" [model]="menuItems" class="order-action"></p-splitButton>
</div>

<app-ak-server-validation></app-ak-server-validation>

<p-growl [value]="msgs"></p-growl>
<div class="loading" *ngIf="loader">Loading&#8230;</div>
<!--<pre>{{ orderForm.value | json }}</pre>-->
<!--(ngSubmit)="onSubmit(orderForm.value)"-->
<form [formGroup]="orderForm" *ngIf="orderForm" class="add-form order-form" method="post" enctype="multipart/form-data">
    <section class="inputWrapper1 assign-carrier">
        <section class="inputWrapper">
            <div class="form-group">
                <div>
                    <label for="code">Order #<span class="color"> *</span></label>
                    <validation-messages class="validation-message" [control]="orderForm.controls.code" [key]="'Order #'"></validation-messages>
                </div>
                <input [readonly]="edit" pInputText type="text" placeholder="Order #" formControlName="code" class="form-control" id="code"
                    style="width:100%" />
            </div>
            <div class="form-group">
                <label for="salesRepUser">Sales Representative</label>
                <p-dropdown [(ngModel)]="selectedSalesRepUser" formControlName="salesRepUser" [autoWidth]="false" required="false" [options]="users"
                    class="form-control" [style]="{'width':'100%','height':'32px'}" filter="filter" placeholder="Select Sales Representative">
                </p-dropdown>
            </div>
        </section>

        <section class="inputWrapper">
            <div class="form-group">
                <div>
                    <label for="orderedDate">Ordered Date<span class="color"> *</span></label>
                    <validation-messages class="validation-message" [control]="orderForm.controls.orderedDate" [key]="'Ordered Date'"></validation-messages>
                </div>
                <p-calendar showTime="showTime" hourFormat="24" formControlName="orderedDate" placeholder="Ordered Date" id="orderedDate" readonlyInput="readonlyInput"></p-calendar>

            </div>
            <div class="form-group">
                <div>
                    <label for="etd">Surgery Date</label>
                    <validation-messages class="validation-message" [control]="orderForm.controls.etd" [key]="'Surgery Date'"></validation-messages>
                </div>
                <p-calendar showTime="showTime" hourFormat="24" formControlName="etd" placeholder="Surgery Date" (onSelect)="onDateSelect( 'surgery', $event)" readonlyInput="readonlyInput"></p-calendar>
            </div>
        </section>

        <section class="inputWrapper">
            <div class="form-group">
                <label for="expectedCompletionDate">Scheduled Due Back Date</label>
                <p-calendar showTime="showTime" hourFormat="24" formControlName="expectedCompletionDate" placeholder="Scheduled Due Back Date" readonlyInput="readonlyInput"></p-calendar>
            </div>
            <div class="form-group">
                <label for="Surgeon">Surgeon</label>
                <input pInputText type="text" placeholder="Surgeon" formControlName="surgeon" class="form-control" id="surgeon" style="width:100%"
                />
            </div>
        </section>

        <section class="inputWrapper">
            <div class="form-group">
                <label for="surgery">Surgery</label>
                <input pInputText type="text" placeholder="Surgery" formControlName="surgery" class="form-control" id="surgery" style="width:100%"
                />
            </div>
            <div class="form-group">
                <label for="patient">Patient</label>
                <input pInputText type="text" placeholder="Patient Name" formControlName="patient" class="form-control" id="patient" style="width:100%"
                />
            </div>
        </section>

        <section class="inputWrapper location-category">
            <div class="form-group">
                <div>
                    <label for="toAddress">To Address<span class="color"> *</span></label>
                    <validation-messages class="validation-message" [control]="orderForm.controls.toAddress" [key]="'To Address'"></validation-messages>
                </div>
                <p-dropdown [options]="addressList" class="form-control" formControlName="toAddress" id="toAddress"
                    [style]="{'width':'100%','height':'32px'}" filter="filter" placeholder="Select To Address"></p-dropdown>

            </div>
        </section>

        <div class="form-group product-field">
            <app-ak-tag class="clearfix" [tags]="tags" [parentFormGroup]="orderForm" (onTagUpdate)="onTagUpdate($event)"></app-ak-tag>
        </div>

    </section>


    <!-- tab starts -->
    <section class="tabBox">
        <app-ak-tab-view>

            <p-tabPanel header="Assign Products" class="add-more-btn">
                <!-- Datatable for Add Form -->
                <p-dataTable *ngIf="order?.products" selectionMode="single" [value]="order.products" [(selection)]="selectedItem" [rows]="10"
                    [responsive]="true" [totalRecords]="totalRecords" (onRowSelect)="onRowSelectItems($event)" styleClass="my-table"
                    [rowStyleClass]="rowStyleClass"
                         #dt>
                    <p-column field="name" header="Name" [sortable]="true">
                        <ng-template let-col let-data="rowData" pTemplate="body">
                            {{ data.name }}
                            <i *ngIf="data.isReported" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        </ng-template>
                    </p-column>
                    <p-column field="things.0.name" header="Sensor" resizableColumns="true" [sortable]="true" [style]="{'overflow':'visible'}">
                    </p-column>
                </p-dataTable>
                <input *ngIf="!edit || (orderStatus=='Draft' || orderStatus=='Open' || orderStatus=='PartialShipped' || orderStatus=='Shipped')" type="button" value="Add More" class="add-more" (click)="addMoreItem()">
                <!-- Datatable for Add Form -->
            </p-tabPanel>

            <p-tabPanel header="Attributes" class="add-more-btn">

                <!-- Datatable for Add Form -->
                <p-dataTable *ngIf="order?.attributes" selectionMode="single" [value]="order.attributes" [(selection)]="selectedAttribute"
                    [rows]="10" [responsive]="true" [totalRecords]="totalRecords" (onRowSelect)="onRowSelect($event)" styleClass="my-table"
                    #dt>
                    <p-column field="name" header="Name" resizableColumns="true" [sortable]="true" [style]="{'overflow':'visible'}">
                    </p-column>
                    <p-column field="value" header="Value" [sortable]="true"></p-column>
                </p-dataTable>
                <input *ngIf="!edit || (orderStatus=='Draft' || orderStatus=='Open' || orderStatus=='PartialShipped' || orderStatus=='Shipped')" type="button" value="Add More" class="add-more" (click)="addMoreAttribute()">
                <!-- Datatable for Add Form -->

            </p-tabPanel>

            <p-tabPanel header="Description" class="add-more-btn">
                <p-editor formControlName="notes" name="notes" id="notes" [style]="{'height':'320px'}"></p-editor>
            </p-tabPanel>

            <p-tabPanel header="Order Orchestration">
                <p-dataTable class="orchestration" [emptyMessage]="emptyMessage" selectionMode="single" [value]="orderOrchestration" [rows]="10"
                    [responsive]="true" [totalRecords]="totalOrchestrationRecords" styleClass="my-table" #dt>
                    <p-column field="orderStatusLabel" header="Status" resizableColumns="true" [sortable]="true" [style]="{'overflow':'visible'}">
                        <ng-template let-col let-data="rowData" pTemplate="body">
                            <!--{{ data.orderStatus | orderstatus }}-->
                            {{data.orderStatusLabel}}
                        </ng-template>
                    </p-column>
                    <p-column field="actionTime" header="Date" [sortable]="true">
                        <ng-template let-col let-data="rowData" pTemplate="body">
                            <app-ak-dateformator [date]="data.actionTime" [format]="'dateTime'"></app-ak-dateformator>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </p-tabPanel>

            <p-tabPanel header="Shipment(s) / Product(s) Orchestration">
                <!-- unshipped products orchestration -->

                <p-fieldset *ngIf="orderUnShippedItems?.length > 0" legend="Unshipped Product(s)" [toggleable]="false">
                    <div *ngFor="let unshippedItem of orderUnShippedItems;">
                        <div class="">
                            <h5 class="panel-title" style="margin-top: 8px !important;margin-bottom: 5px;">Product {{ unshippedItem.name }} Timeline</h5>
                        </div>
                        <app-productorchestration-widget *ngIf="unshippedItem.id" [productParent]="productParent" [itemId]="unshippedItem.id" [parentId]="id"  ></app-productorchestration-widget>
                    </div>                    
                </p-fieldset>

                <!-- *ngIf="orderShipments?.length > 0" -->

                <!-- shipment orchestration -->
                <div *ngFor="let shipment of orderShipments;">
                    <p-fieldset [toggleable]="false">
                        <p-header>Tracking # {{ shipment.shipmentNo }} Timeline</p-header>
                        <!--<div class="">
                            <h5 class="panel-title" style="margin-top: 8px !important;margin-bottom: 5px;">Tracking # {{ shipment.shipmentNo }} Timeline</h5>
                        </div>-->
                        <app-shipmentorchestration-widget *ngIf="shipment.shipmentId" [shipmentId]="shipment.shipmentId"  ></app-shipmentorchestration-widget>

                        <!-- shipment products orchestration -->
                        <div *ngFor="let shipProduct of shipment.products;">
                            <div *ngIf="shipProduct.orderDetails.id === id">
                                <div class="">
                                    <h5 class="panel-title" style="margin-top: 8px !important;margin-bottom: 5px;">Product {{ shipProduct.name }} Timeline</h5>
                                </div>
                                <app-productorchestration-widget *ngIf="shipProduct.id" [productParent]="'shipment'" [itemId]="shipProduct.id" [parentId]="shipment.shipmentId"  ></app-productorchestration-widget>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <!-- no unshipped items found and no shipments found -->
                <app-productorchestration-widget *ngIf="!orderUnShippedItems?.length && !orderShipments?.length" [productParent]="productParent" [itemId]="'0'" [parentId]="id"  ></app-productorchestration-widget>

            </p-tabPanel>

        </app-ak-tab-view>
    </section>
    <!-- tab ends -->


    <!-- footer start -->
    <div class="btn-wrapper">
        <div class="buttonWrapper">
            <button type="button" class="cancel" (click)="navigateBack()" id="order-cancel">Back</button>
            <!--<button type="submit" class="save" label="Submit" id="order-submit" [disabled]="!orderForm.valid">Submit</button>-->
        </div>
    </div>
    <!-- footer end -->


    <!-- Dialog Box for Adding Items -->
    <p-dialog [formGroup]="orderForm.controls.items" header="{{dialogTitleItem}}" [(visible)]="displayDialog" [responsive]="true"
        showEffect="fade" [modal]="true" [width]="400" [height]="400" class="tab-dialog" (onHide)="dialogHideEvent('item')">
        <div style="background-color:#ffffff; padding:20px;">
            <div class="ui-grid ui-grid-responsive ui-fluid">
                <section class="inputWrapper">
                    <div class="form-group product-field">
                        <div>
                            <label for="id">Name<span class="color"> *</span></label>
                            <validation-messages class="validation-message" [control]="orderForm.controls.items.controls.itemType" [key]="'Name'"></validation-messages>
                        </div>
                        <p-dropdown class="form-control modalDropDown" [options]="itemOptionNameList" formControlName="itemType" id="itemType" filter="filter"
                            placeholder="Select Product" (onChange)="itemSelected($event.value)"></p-dropdown>
                    </div>
                </section>
                <br>
                <section class="inputWrapper" style="margin-top:20px">
                    <div class="form-group">
                        <div><label for="id">Sensor</label></div>
                        <input pInputText type="text" placeholder="Sensor" formControlName="itemValue" class="form-control" id="attributeValue" readonly/>
                    </div>
                </section>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix buttonWrapper" style="margin-top:2.5em">
                    <button type="button" class="save cancel" (click)="closeItemDialog()" id="category-cancel">Back</button>
                    <button type="button" class="save cancel" (click)="deleteItemRow()" id="category-delete" *ngIf="showDelete">Delete</button>
                    <button type="button" class="save" (click)="saveItems(orderForm.controls.items.value)" label="Save" [disabled]="!orderForm.controls.items.valid">Save</button>
                </div>
            </p-footer>
        </div>
    </p-dialog>

    <!-- Dialog Box for Adding Attributes -->
    <p-dialog [formGroup]="orderForm.controls.attributes" header="{{dialogTitle}}" [(visible)]="displayDialogAtt" [responsive]="true"
        showEffect="fade" [modal]="true" [width]="400" [height]="100" class="tab-dialog" (onHide)="dialogHideEvent('attribute')">
        <div style="background-color:#ffffff; padding:20px;">
            <div class="ui-grid ui-grid-responsive ui-fluid">
                <section class="inputWrapper">
                    <div class="form-group product-field">
                        <div>
                            <label for="id">Name<span class="color"> *</span></label>
                            <validation-messages class="validation-message" [control]="orderForm.controls.attributes.controls.attributeType" [key]="'Name'"></validation-messages>
                        </div>
                        <p-dropdown class="form-control modalDropDown" [options]="attributeOptionNameList" formControlName="attributeType" id="attributeType"
                            filter="filter" placeholder="Select Attribute"></p-dropdown>
                    </div>
                </section>
                <br>
                <section class="inputWrapper" style="margin-top:20px">
                    <div class="form-group">
                        <div>
                            <label for="id" style="width: 15%">Value<span class="color"> *</span></label>
                            <validation-messages class="validation-message" [control]="orderForm.controls.attributes.controls.attributeValue" [key]="'Value'"></validation-messages>
                        </div>
                        <input pInputText type="text" placeholder="Value" formControlName="attributeValue" class="form-control" id="attributeValue"
                        />
                    </div>
                </section>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix buttonWrapper" style="margin-top:2.5em">
                    <button type="button" class="save cancel" (click)="closeDialog()" id="category-cancel">Back</button>
                    <button type="button" class="save cancel" (click)="deleteRow()" id="category-delete" *ngIf="showDelete">Delete</button>
                    <button type="button" class="save" (click)="saveAttributes(orderForm.controls.attributes.value)" label="Save" [disabled]="!orderForm.controls.attributes.valid">Save</button>
                </div>
            </p-footer>
        </div>
    </p-dialog>

    <!-- Dialog Box for shipment notes -->
    <p-dialog header="Notes" [formGroup]="orderForm.controls.issue" class="notes-dialog" [(visible)]="displayDialogNotes" [responsive]="true" showEffect="fade"
        [modal]="true" [width]="600" [height]="600" [draggable]="false">
        <div style="background-color:#ffffff; padding:20px;">
            <button (click)="showCommentArea()" type="button" class="btn btn-default shipment-notes"><i class="fa fa-comments"></i>ADD YOUR NOTE</button>

            <div class="select-shipment">
                <div>
                    <validation-messages class="validation-message" [control]="orderForm.controls.issue.controls.shipment" [key]="'Shipment'"></validation-messages>
                </div>
                <p-dropdown formControlName="shipment" [options]="issueList" (onChange)="loadIssueComments($event)" class="form-control"
                    [style]="{'width':'100%','height':'32px'}" filter="filter" placeholder="Select Shipment"></p-dropdown>
            </div>


            <div class="ui-grid ui-grid-responsive ui-fluid">

                <ul id="commentContainer" class="media-list chat-list content-group">
                    <li class="media custom-comment" *ngFor="let comment of comments;">
                        <div class="media-left">
                            <div class="form-group shipment-notes" style="position: relative;">
                                <div class="left">

                                    <img src="assets/user-default.png" class="author-img img-circle" alt="">
                                    <time class="media-annotation pull-right time datetime">
                                        <app-ak-dateformator [date]="comment.commentCreationDate" [format]="'dateTime'"></app-ak-dateformator>
                                    </time>
                                </div>
                                <div class="right">
                                    <a href="javascript:void(0)" style="cursor:default;" class="author">
                                    {{ comment.author.firstName }} {{ comment.author.lastName }}</a>

                                    <div class="message">
                                        {{ comment.comment }}
                                    </div>
                                    <div style="margin-top: 10px;"></div>
                                    <div class="missingitems">
                                        <b>Product(s)</b>
                                        <br>
                                        <div *ngFor="let item of comment.items; let i = index">
                                            <b>{{i + 1}} : </b>{{item.code}}<br><span style="margin-left: 18px;">{{item.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-image-upload-widget *ngIf="comment.showImages?.length > 0" class="image-upload" [displayOnly]=true [savedImages]="comment.images"
                            [images]="comment.showImages"></app-image-upload-widget>
                    </li>
                </ul>
            </div>


            <div *ngIf="commentAreaFlag && savedProducts?.length > 0" class="add-notes-new">
                <h3 style="padding: 5px 10px;font-size: 16px;">New Note</h3>
                <div *ngIf="noteItemRequired" class="help-block">
                    <p style="float: right" class="help">Product(s) are mandatory</p>
                </div>
                <div>
                    <label for="products">Select Product(s)<span class="color"> *</span></label>
                </div>
                <div formArrayName="skus">
                    <div class="form-group" *ngFor="let sku of savedProducts; let i = index">
                        <label>
                            <span formGroupName="{{i}}">
                                <p-checkbox formControlName="{{sku.name}}{{i}}" value="{{sku.id}}" label="{{sku.name}}"></p-checkbox>
                            </span>
                        </label>
                    </div>
                </div>
                <!--<pre>{{updateDetailsForm.value | json}}</pre>-->
                <section class="inputWrapper">
                    <div class="form-group">
                        <div>
                            <validation-messages class="validation-message" [control]="orderForm.controls.issue.controls.comment" [key]="'Note'"></validation-messages>
                        </div>
                        <textarea id="comment" formControlName="comment" placeholder="Enter your Note"></textarea>
                    </div>
                </section>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <td>Images</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <app-image-upload-widget [savedImages]="noteSavedImages" [images]="noteImages" [multiple]=true class="image-upload" (onImageListFinalised)="onNoteImageListFinalised($event)"></app-image-upload-widget>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p-footer *ngIf="commentAreaFlag" class="dialog-wrapper">
                <div class="ui-dialog-buttonpane ui-helper-clearfix buttonWrapper" style="margin-top:2.5em">
                    <button type="button" class="save cancel" (click)="hideCommentArea()" id="notes-cancel">Back</button>
                    <button type="button" class="save" (click)="saveNote(orderForm.controls.issue.value)" [disabled]="!orderForm.controls.issue.valid"
                        label="Save">Save</button>
                </div>
            </p-footer>
            <!--<pre>{{ savedProducts | json }}</pre>-->


        </div>
    </p-dialog>

</form>


<p-confirmDialog class="confirm-dialog" width="450" #cd>
	<p-footer>
		<button type="button" pButton icon="fa-close" label="CANCEL" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="OK" (click)="cd.accept()"></button>
	</p-footer>
</p-confirmDialog>

<!--<pre>{{itemOptionNameList | json}}<pre>
<pre>{{ order.products | json }}</pre>

<pre>{{attributeOptionList | json}}<pre>
<pre>{{ order.attributes | json }}</pre>-->

<!--<pre>{{ order.products | json }}</pre>
<pre>{{things | json}}</pre>-->