<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TraKit - Emp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TracKit - Carrier</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.0</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>52d93d2e5608dc35bae09dbaf9661e54bfb08785</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app uses Bluetooth to communicate with beacons</string>
	<key>NSBluetoothPeripheralUsageDescription - 2</key>
	<string>Bluetooth Is used for beacon connection</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses camera to capture photos</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses location services to track location of beacons in your proximity</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Shipment location status updates with active GPS in background can impacts battery life.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses location services to track location of beacons in your proximity</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To allow mic</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Photo Library</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>To Listen search Text</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Black.ttf</string>
		<string>SourceSansPro-BlackIt.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-BoldIt.ttf</string>
		<string>SourceSansPro-ExtraLight.ttf</string>
		<string>SourceSansPro-ExtraLightIt.ttf</string>
		<string>SourceSansPro-It.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
		<string>SourceSansPro-LightIt.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Semibold.ttf</string>
		<string>SourceSansPro-SemiboldIt.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
