@import '../../../..//styles/__vars';

:host {
    
    background: $bg-menu;
    // transition: width 0.3s ease;
    position: fixed;
    height: 100vh;
    z-index: 1000;

    @media all and (min-width: 768px) {
        //flex: 0 0 56px;
        width: 56px;
    }
    @media all and (max-width: 767px){
        position: fixed;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }


  @media all and (min-width: 768px) {
    //flex: 0 0 56px;
    width: 56px;
  }
  @media all and (max-width: 767px) {
    position: fixed;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
}

:host(.expanded) {
  flex: 0 0 260px;
  width: 260px;
  & > nav > ul {
    & .subnav {
      position: relative;
      top: 0;
      left: auto;
      background: $bg-menu;
      z-index: 999;
      display: block;
    }
    li.nav_header {
      display: none;
    }
  }
  .username {
    display: block;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    overflow: hidden;
    &:hover {
      overflow: visible;
    }
  }
}
a {
  display: flex;
  align-items: center;
}

nav > ul > li {
  border-top: 1px solid $li-border-top;
  border-bottom: 1px solid $li-border-bottom;
}

nav > ul > li > a {
  text-decoration: none;
  color: $color-notif;
  display: flex;
  align-items: center;
  padding: 0.9rem 1rem;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 1.5;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: $color-white;
    & i:before {
      color: $color-white;
    }
  }
}

.linkBlock {
  display: flex;
  align-items: center;
  flex-grow: 1;
  & > i {
    margin-right: 20px;
  }
}

.logoWrapper {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $bg-menu;
  display: flex;
  padding-left: 19px;
  align-items: center;
  color: $color-white;
}

.userBlock {
  width: 100%;
  cursor: pointer;
  // height: 75px;
  border-bottom: 1px solid $bg-menu;
  min-height: 73px;
  @media all and (min-width: 768px) {
    margin-top: 10px;
  }
}

.subnav.openWithClick {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  a {
    padding-left: 100px;
  }
  &.open {
    height: auto;
    overflow: auto;
    max-height: 21em;
    transition: max-height 0.3s ease;
    // a {
    //     padding-left: 100px;
    // }
    // &.open {
    //     height: auto;
    //     overflow: auto;
    //     max-height: 21em;
    //      transition: max-height 0.3s ease;
    // }
  }
}

// When Menu is Shrinked

.subnav {
  position: absolute;
  top: 0;
  left: 56px;
  background: $bg-menu;
  z-index: 1000;
  display: none;

  & > ul {
    overflow: auto;
    max-height: 35vh;
  }
}

nav {
  & > ul > li {
    &:hover {
      & > .subnav {
        display: block;
      }
    }
  }
}

i.anchor-right {
  transition: transform 0.3s ease;
}
a.active {
  & i.fa-chevron-right {
    transform: rotate(90deg);
    transform-origin: center;
  }
}

.userBlock {
  display: flex;
  align-items: center;
  padding-left: 8px;
  .avatar {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    border-radius: 50%;
    margin-right: 10px;
    & img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  .username {
    color: $color-white;
  }
}
.username {
  word-wrap: break-word;
  overflow: auto;
  flex: 0 0 162px;
  // padding-right: 19px;
}
@media all and (min-width: 768px) {
  .username {
    display: none;
  }
}

i {
  font-size: 25px;
}

li.nav_header {
  background: $nav-header;
  border-color: $nav-header;
  // padding: 15px 20px;
  font-size: 13px;
  text-transform: capitalize;
  color: $color-white;
  min-height: 56px !important;
  display: flex;
  align-items: center;
}

ul.subnav {
  &.openOnHover {
    min-width: 260px;
    margin-top: -1.5px;
  }
  &:before {
    content: '';
    display: block;
    width: 1px;
    background: $li-psudo-bg;
    height: 100%;
    position: absolute;
    left: 28px;
  }
  li {
    padding-left: 30px;
    position: relative;
    border-bottom: 1px solid $li-psudo-border;
    min-height: 40px;
    position: relative;
    &:not(.nav_header):before {
      border: 1px solid #fcfcfc;
      content: '';
      display: block;
      height: 12px;
      position: absolute;
      width: 12px;
      top: 15px;
      left: 23px;
      border-radius: 100%;
    }
    &:not(.nav_header):after {
      background: $nav-label none repeat scroll 0 0;
      border-radius: 100%;
      content: '';
      display: block;
      height: 6px;
      left: 26px;
      position: absolute;
      top: 15px;
      width: 6px;
      top: 18px;
    }

    a {
      color: $color-icon;
      min-height: 40px;
      padding: 10px 20px;
      font-size: 13px;
      text-decoration: none;
      text-transform: capitalize;
      //display: block;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: #fff;
      }
    }
  }
}

a.active {
  i:before,
  span {
    color: white;
  }
}

ul.subnav {
  .nav_header:only-child {
    display: flex;
    padding: 0;
    & a {
      display: flex;
      color: $color-white;
      width: 100%;
      height: 100%;
      min-height: 54px;
      align-items: center;
      padding-left: 20px;
      cursor: pointer;
    }
  }
}

ul.second_level {
  position: relative;
  top: 0;
  left: auto;
  background: $bg-menu;
  z-index: 999;

  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  &.drop {
    height: auto;
    max-height: 16em;
    overflow: auto;
    transition: max-height 0.3s ease;
  }
}

li.subActive {
  .linkBlock {
    color: $color-white;
  }
  i {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    &:before {
      color: $color-white;
    }
  }
  &:after {
    background: $color-blue;
  }
  &:before {
    border-color: $before-before;
  }
}

.ui-dialog {
  height: 200px !important;
}
