$bg-header: #3D3D3D;
$bg-menu: #434343;
$li-border-top: #3d3d3d;
$li-border-bottom: #525252;

$bg-pageHeader: #d7e2e9;
$bg-button: #008bf3;

$color-icon: #b4bfda;
$color-error: red;

$count-bg: #FF7043;
$count-border: #FF7043;
$count-color: #fff;
$count-font: 10px;

$small-font: 12px;
$basic-font: 13px;
$drop-label: 14px;
$color-notif : #b4bfda;

$black-light: #333333;

$bg-nav: #1b2328;

$color-white: #fff;
$color-blue: #008bf3;
$color-label: #37474f;

$border-light: #cfcfcf;
$reset-grey:  #fcfcfc;
$reset-border: #ddd;
$button-blue: #2196F3;

$nav-header: #3c3c3c;

$li-psudo-bg: #30343c;
$li-psudo-border: #525252;

$nav-label: #878c96;

$before-before: #2a81ac;

$grey-light: #353535;

$notf: #999999;

$tr-color: #555555;
$tr-border: #d6d6d6;

$tbody-border:#D5D5D5;
$tbody-background:#ffffff;
$tbody-color:#222222;

$label_header: #f6f7f9;