@import '../../../../styles/__vars';


.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
    @media all and (min-width: 768px) {
       flex-direction: row; 
    }
}
main {
        
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
   
}

@media all and (min-width:768px){
    main{
           margin-left: 56px;
    }
  
}

.expanded + main{
    margin-left: 260px;
}

section.content {
        flex: 1 1 auto;
    background: $color-white;
    margin-top: 50px;
    // z-index: 10;
     & .container {
         padding: 20px 10px;
     }
}


table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

tr {
        border: 1px solid $tr-border;
    background: $color-white;
    color: $tr-color;
}

th {
    display: table-cell;
        border-color: inherit;
    box-sizing: border-box;
    padding: .25em .5em;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}

tbody {
    border: 1px solid $tbody-border;
    background: $tbody-background;
    color: $tbody-color;
}