<div class="headlineArea">
    <h3 class="page_header withoutband">Apps</h3>
    <button (click)="export()" class="save">Export</button>
    <!--<button (click)="sync()" class="save">SYNC</button>-->
</div>
<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <app-ak-growl [messages]="msgs"></app-ak-growl>
    <div class="loading" *ngIf="loader">Loading&#8230;</div>
    <p-dataTable [value]="dataList" scrollable="true" [emptyMessage]="emptyMessage" [scrollHeight]="innerHeight" [lazy]="true"
        sortField="updatedOn" sortOrder="-1" reorderableColumns="true" [rows]="rows" [editable]="true" [paginator]="true" [pageLinks]="3"
        [rowsPerPageOptions]="[5,10,20,50,100]" [responsive]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)"
        styleClass="my-table" #dt>
        <p-column field="name" header="Name" [sortable]="true" [filter]="false" filterPlaceholder="Name">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <span (click)="onEdit(data)" style="cursor:pointer; text-decoration:underline">
                    {{data.name}}
                </span>
            </ng-template>
        </p-column>
        <p-column field="code" header="Code" [sortable]="true" [filter]="false" filterPlaceholder="Code"></p-column>

        <p-column field="os" header="OS" [sortable]="true" [filter]="false" filterPlaceholder="OS"></p-column>
        <p-column field="appName" header="App Name" [sortable]="true" [filter]="false" filterPlaceholder="App Name"></p-column>
        <p-column field="appVersion" header="App Version" [sortable]="true" [filter]="false" filterPlaceholder="Version">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <span (click)="onEdit(data)" style="cursor:pointer; text-decoration:underline">
                    {{data.appVersion}}
                </span>
            </ng-template>
        </p-column>
        <p-column field="manufacturer" header="Manufacturer" [sortable]="true" [filter]="false" filterPlaceholder="Manufacturer"></p-column>
        <p-column field="model" header="Model" [sortable]="true" [filter]="false" filterPlaceholder="Model"></p-column>
        <p-column field="updatedOn" header="Updated On" [sortable]="true" [filter]="false" filterPlaceholder="Updated On">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <app-ak-dateformator [date]="data.updatedOn" [format]="'dateTime'"></app-ak-dateformator>
            </ng-template>
        </p-column>
        <p-column field="testNotify" header="Test Notify" [sortable]="false" [filter]="false" filterPlaceholder="Test Notify">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <span (click)="testNotify(data.code)" class="underline-text">
                    Test Notify
                </span>
            </ng-template>
        </p-column>
    </p-dataTable>

    <span class="number-of-pages">{{pagingmessage}}</span>

    <p-dialog header="Export" [(visible)]="displayExport" class="export-dialog">
        <div class="export-msg">{{exportMessage}}</div>
        <p-footer>
            <button type="button" pButton class="save" (click)="displayExport=false" label="Ok"></button>
        </p-footer>
    </p-dialog>
