<div class="dashboard-chart">
  <div class="search-container">
    <i class="fa fa-search" (click)="show_search()" ></i>
    <div class="search-box" [class.show]="isShow">
      
  <app-search-casesperhospital class="gadget-search"></app-search-casesperhospital>
      <button class="close-icon" type="reset" (click)="close_search()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div> 
  <div *ngIf="loader" class="loader"></div>
  <app-d3barchart [data]="casesPerHospital"></app-d3barchart>
</div>