@import '../../../../styles/__vars';


:host {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    // animation: test 1s  ease-out 0s forwards;
    // transform: translateY(-116vh);
    //     z-index: 999;
    // background:$color-white;
    // form {
    //     padding: 1rem;
    // }
}

