<div class="logoBox"><img src="assets/nicbit.png" alt=""></div>
<div class="loginBox">
    <h5 class="forgot-password">Forgot Password</h5>

    <app-ak-growl [messages]="msgs"></app-ak-growl>
    <div class="loading" *ngIf="loader">Loading&#8230;</div>
    <p class="fp-message">Enter the email associated with your account, then click Submit. We'll send you a verification code which you can use to easily create a new password.</p>
    <form [formGroup]="myform" method="POST" action="#">
        <div class="form-group">
            <div>
                <label for="email">Email <span class="color">*</span></label>
                <validation-messages class="validation-message" [control]="myform.controls.email" [key]="'Email'"></validation-messages>
            </div>
            <input type="text" name="email" formControlName="email" value="" id="email" [(ngModel)]="email" placeholder="Enter Email">
        </div>
        <div class="buttonWrap">
            <a [routerLink]="['/login']" style="justify-content: center;">Go to login</a>
            
            <button (click)="onNext()" id="nextPage" type="submit" [disabled]="!myform.valid" class="btn btn-info">SUBMIT</button>
        </div>
    </form>
</div>