<div class="logoBox"><img src="assets/nicbit.png" alt=""></div>
<div class="loginBox">

    <h5>Forgot Password</h5>
    <p class="fp-message">Please enter the verification code sent on your email.</p>

    <app-ak-growl [messages]="msgs"></app-ak-growl>
    <div class="loading" *ngIf="loader">Loading&#8230;</div>

    <form [formGroup]="myform" method="POST" action="#">

        <div class="form-group">
            <div>
                <label for="Verification Code">Verification Code <span class="color">*</span></label>
                <validation-messages class="validation-message" [control]="myform.controls.verificationCode" [key]="'Verification Code'"></validation-messages>
            </div>
            <input type="text" name="verificationCode" formControlName="verificationCode" value="" id="verificationCode" [(ngModel)]="verificationCode" maxlength="10" placeholder="Enter Verification Code">
        </div>

        <div class="form-group">
            <div>
                <label for="newPassword">New Password <span class="color">*</span></label>
                <validation-messages class="validation-message" [control]="myform.controls.newPassword" [key]="'New Password'"></validation-messages>
            </div>
            <input type="password" name="newPassword" formControlName="newPassword" value="" id="newPassword" [(ngModel)]="newPassword" maxlength="40" placeholder="Enter New Password">
        </div>

        <div class="buttonWrap">
            <a [routerLink]="['/forgot-password-step1', email]" style="float:left">Go back</a>
            <a [routerLink]="['/login']" style="float:right">Go to login</a>
            <button [disabled]="!myform.valid" (click)="onNext()" id="submit" type="submit" class="btn btn-info btn-block">
                Reset Password
            </button>
        </div>
    </form>
</div>
