<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>k0Pxto6NSMmw0wqgRu4KOA</string>
	<key>developmentAppSecret</key>
	<string>KtW1qfvCSAK84TngNs7N7A</string>
	<key>productionAppKey</key>
	<string>jJD69OnPT-KmeBGCiF9LNQ</string>
	<key>productionAppSecret</key>
	<string>6oeF_PGZQwyz_9qCLwMC1Q</string>
</dict>
</plist>
