<div class="loading" *ngIf="loader">Loading&#8230;</div>
<div class="globalsearch-dropdown">

  <span _ngcontent-c2="">
    <input type="text" [(ngModel)]="globalSearch" (focus)="globalSearchFocus = true;" 
    (blur)="globalSearchFocus = false;" placeholder="Search"  style="border: none; width: 100%;float:left; color:#fff">
      
      <i class="fa fa-angle-down" aria-hidden="true" (click)="open_search()"></i>   
    <div class="hiddendiv" [class.show]="isShow" id="abc">


<div class="hiddenDiv"> 
<form class="search-dropdown-content" [formGroup]="searchForm">
   
  
   <section class="inputWrapper" style="width:100%;">
      <div class="form-group">
         <div>
            <label>Location Name</label>
         </div>
         <p-dropdown formControlName="locationName" [options]="addressList" (onChange)="fetchFloor($event.value)" class="form-control search-drop" id="cars"
         filter="filter" placeholder="Select Location"></p-dropdown>
      </div>
   </section>
   <br>
   <section class="inputWrapper" style="width:100%;margin-top:10px">
      <div class="form-group">
         <div>
            <label>Floor Name</label>
         </div>
         <p-dropdown formControlName="floorName" [options]="floorList" (onChange)="fetchZone($event.value)" class="form-control search-drop" id="cars"
         filter="filter" placeholder="Select Floor"></p-dropdown>
      </div>
   </section>
   <br>
   <section class="inputWrapper" style="width:100%;margin-top:10px">
      <div class="form-group">
         <div>
            <label>Zone Name</label>
         </div>
         <p-dropdown formControlName="zoneName" [options]="zoneList" class="form-control search-drop" id="cars"
         filter="filter" placeholder="Select Zone"></p-dropdown>
      </div>
   </section>
   <br>
   <div class="search-button">
      <button type="button" class="search" id="search" (click)="searchRecord(searchForm.value)">
      <i class="fa fa-search" style="margin: 0px;font-size: 16px;"></i>
      Search</button>
      <button type="button" class="reset" id="reset" (click)="reset()">
      <i class="fa fa-repeat" style="margin: 0px;font-size: 16px;"></i>
      Reset</button>
   </div>

</form>
</div>
</div>
  </span>



  <button type="button" class="search-btn" (click)="searchGlobal()">
<i class="fa fa-search" style=" margin: 0px;"></i>
</button>
</div>
