<div class="logoBox"><img src="assets/nicbit.png" alt=""></div>
<div class="loginBox">
    <h5>Generate An Initial Password</h5>

    <app-ak-growl [messages]="msgs"></app-ak-growl>
    <div class="loading" *ngIf="loader">Loading&#8230;</div>

    <form [formGroup]="generatepasswordform" method="POST" action="#">
        <div class="form-group has-feedback" >
            <label class="placeholder">Email <span class="color">*</span></label>
            <input formControlName="email" id="email" type="email" maxlength="50" class="form-control" [(ngModel)]="email" readonly placeholder="Enter Email">
        </div>

        <div class="form-group">
            <div>
                <label for="password">Old Password <span class="color">*</span></label>
                <validation-messages class="validation-message" [control]="generatepasswordform.controls.password" [key]="'Old Password'"></validation-messages>
            </div>
            <input type="password" name="password" formControlName="password" value="" id="password" [(ngModel)]="password" placeholder="Enter Old Password">
        </div>

        <div class="form-group">
            <div style="position:relative">
                <label for="newPassword">New Password <span class="color">*</span>
                    <img src="../assets/info-icon.png" class="precedence-icon icon-info-with-circle" on-mouseover="setFlagForHelptext(true)" on-mouseleave="setFlagForHelptext(false)">
                    <div class="hint-text"  *ngIf="openHelpText">{{passwordPolicy}}</div>
                </label>
                <validation-messages class="validation-message" [control]="generatepasswordform.controls.newpassword" [key]="'New Password'"></validation-messages>
            </div>
            <input type="password" name="newpassword" formControlName="newpassword" value="" id="newpassword" [(ngModel)]="newpassword" placeholder="Enter New Password">
        </div>

        <div class="buttonWrap">
            <a [routerLink]="['/login']">Go to login</a>
            <br/>
            <button [disabled]="!generatepasswordform.valid" (click)="onGeneratePassword()" id="generatePassword" type="submit" class="btn btn-info btn-block">Generate</button>
        </div>

    </form>
</div>