		<main role="main" class="bcolor">
			<div id="helpAccordion" class="panel-group" role="tablist" aria-multiselectable="false">
			
			<div class="panel panel_help">
				<h4 class="panel-title" id="headingTwo">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#helpAccordion"  aria-expanded="false" aria-controls="help2">
					Software Licenses
				</a>
				</h4>
				<div id="help2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<p>
					The spirit of bringing innovation to healthcare began with Dr. Stryker when he founded the company in 1941 and it continues today. Stryker is well-positioned to continue serving the worldwide medical community for generations to come. We think Dr. Stryker would be pleased.
				</p>
				</div>
			</div>
			
			<div class="panel panel_help">
				<h4 class="panel-title">
				<a role="button" data-toggle="collapse" class="collapsed" data-parent="#helpAccordion"  aria-expanded="true">
					Privacy Policy
				</a>
				</h4>
				<div id="help1" class="collapse" role="tabpanel" aria-labelledby="headingOne">
	
				<div id="nested" class="panel-group" role="tablist" aria-multiselectable="false">
					<div class="panel panel_help">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#nested" >
						What information does the Application obtain and how is it used?
						</a>
					</h4>
					<div id="help1_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nestedOne">
						<strong>User Provided Information</strong>
						<p>
						The Application obtains the information you provide when you download and log in to the Application.
						</p>
						<p>
						When you login with us and use the Application, you generally provide your name, email address, contact phone number, country and password.
						</p>
					</div>
					</div>
					<div class="panel panel_help">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#nested" >
						Automatically Collected Information
						</a>
					</h4>
					<div id="help1_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nestedOne">
						<p>
						Our apps will collect information from an end user's device any time the end user's app comes within range of a Stryker Authorized sensors Stryker Traquer relies on an app-specific identifier that is used to identify a unique app user. This identifier is associated only with the specific Traquer app and is not tied to your mobile device. If you delete the Traquer app from your device, this identifier will be deleted as well. Relying on this app-specific ID, we collect your location (latitude/longitude coordinates) and the time of day and your location when your device is near any of our sensors. We also collect device information, such as the device type, model and operating system version, and current IP address. We use this information to identify when you enter or leave the range of a particular sensor in a location.
						</p>
					</div>
					</div>
					<div class="panel panel_help">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#nested" >
						Does the Application collect precise real time location information of the device?
						</a>
					</h4>
					<div id="help1_4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nestedOne">
						<p>
						When you are near any Stryker authorized sensors, we use GPS technology, wifi triangulation (and / or other similar technology) to determine your current location. This information is anonymously send to the server which only reports the location and the sensor which was recognized by the app.
						</p>
						<p>
						The mobile app does not record your location when you are not in range of any Stryker authorized sensor.
						</p>
						<p>
						We also create a log file in your device which we can ask you to send to us, for troubleshooting purposes.
						</p>
					</div>
					</div>
					<div class="panel panel_help">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#nested" >
						Do third parties see and/or have access to information obtained by the Application?
						</a>
					</h4>
					<div id="help1_5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nestedOne">
						<p>
						We may disclose User Provided and Automatically Collected Information:
						</p>
						<ul>
						<li>as required by law, such as to comply with a subpoena, or similar legal process;</li>
						</ul>
					</div>
					</div>
					<div class="panel panel_help">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#nested" >
						How we use information
						</a>
					</h4>
					<div id="help1_6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nestedOne">
						<p>
						The primary purpose is to provide Stryker with an easy way to track how and where a particular item is at any point in time. We upload your information from your device over a secured connection to our servers in order to analyze the data and identify routes and places while you are in range of any Stryker Authorized Sensors.
						</p>
					</div>
					</div>
					<div class="panel panel_help">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#nested" >
						Data Retention Policy, Managing Your Information
						</a>
					</h4>
					<div id="help1_7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nestedOne">
						<p>
						The primary purpose is to provide Stryker with an easy way to track how and where a particular item is at any point in time. We upload your information from your device over a secured connection to our servers in order to analyze the data and identify routes and places while you are in range of any Stryker Authorized Sensors.
						</p>
					</div>
					</div>
					<div class="panel panel_help">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#nested" >
						Your Consent
						</a>
					</h4>
					<div id="help1_8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nestedOne">
						<p>
						By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing,” means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States your information will be transferred, processed and stored there under United States privacy standards.
						</p>
					</div>
					</div>
					<div class="panel panel_help">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#nested" >
						Contact us
						</a>
					</h4>
					<div id="help1_9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nestedOne">
						<p>
						If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at mobility@nicbit.com.
						</p>
					</div>
					</div>
				</div> <!-- /#nestedAccordion -->
				</div>
			</div> <!-- /.panel -->
	
			</div>
		</main>